<center>
<h1>Editing Project</h1>


<%= render 'form', project: @project %>


<%= link_to "<button type='button' class='btn btn-sm btn-outline-secondary'>Back</button>".html_safe, projects_path %>

<% if student_signed_in? %>
  <%= link_to "<button type='button' class='btn btn-sm btn-outline-secondary'>Show</button>".html_safe, @project %>
<% end %>
</center>